# matplotlib

In [1]:
pip install matplotlib

Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (4.59.2)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [4]:
import matplotlib as mlt
import numpy as np

In [28]:
list = [1,2,2,3,4,5,5,123,123,12321,31,312,312]
print(list.index(1))
print(list)
tuple = ('apple','bannana ','watermellon','mango')
print(tuple[1])
print(tuple[-2])

0
[1, 2, 2, 3, 4, 5, 5, 123, 123, 12321, 31, 312, 312]
bannana
watermellon

**Numpy**

**Lit**

**tuple**

**set**

In [2]:
my_list = (1,2,2,3,4,5,5,123,123,12321,31,312,312)
new = list(my_list)
print(new)

[1, 2, 2, 3, 4, 5, 5, 123, 123, 12321, 31, 312, 312]

In [17]:
my_set = {1,2,3,4,5,7,8,1,3}
mySet_2 = {1,2,123,1234,123124}

union = my_set.union(mySet_2)
intersection = my_set.intersection(mySet_2)
difference = my_set.difference(mySet_2)

print(union)
print(intersection)
print(difference)

my_set.add(11232)
print(my_set)

my_set.remove(1)
print(my_set)

{1, 2, 3, 4, 5, 7, 8, 1234, 123124, 123}
{1, 2}
{3, 4, 5, 7, 8}
{11232, 1, 2, 3, 4, 5, 7, 8}
{11232, 2, 3, 4, 5, 7, 8}

In [19]:
student = {
    "name" : "hasnain",
    "gpa" : 4.0,
    "semester" : 6,
    "age" : 21,
    "is_student" : True

    }

In [20]:
print(student["name"])

hasnain

In [21]:
student["name"] = "ali"

In [22]:
print(student["name"])

ali

In [28]:
student2 = {
    "name" : "hasnain",
    "gpa" : 4.0,
    "semester" : 6,
    "age" : 21,
    "is_student" : True,
    "name" : "ali"

    }

In [29]:
print(student2["name"])

ali